<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058072420794-a1an51bbv3omcgclmk6gh3pt731j83ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058072420794-a1an51bbv3omcgclmk6gh3pt731j83ai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058072420794-lo8t5j8i03449fp1pqq2f6u17e8k7r8l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDs0JPcDakNoOI57f1CJV__NLewPazNm1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1058072420794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stepoutadminapp</string>
	<key>PROJECT_ID</key>
	<string>stepout-6307b</string>
	<key>STORAGE_BUCKET</key>
	<string>stepout-6307b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058072420794:ios:e4c2c5821c1f87de907d83</string>
</dict>
</plist>